<div class="container-fluid">
    <div class="dashboard">
        <div class="row">
            <div class="col">

                <h3>Admin Dashboard</h3>

                <!--Add a new movie to the database-->
                <a href="#" [routerLink]="['/admin-create-movie/']" class="btn"><fa-icon [icon]="faPlus"></fa-icon>&nbsp;Add New Movie</a>

                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th width="18px">Title</th>
                            <th width="18px">Showtime</th>
                            <th width="18px">Aud.</th>
                            <th width="18px">Price</th>
                            <th width="18px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of movies">
                            <td width="18px">{{ movie.title }}</td>
                            <td width="18px">{{ movie.showtime }}</td>
                            <td width="18px">{{ movie.auditorium }}</td>
                            <td width="18px">{{ movie.ticket_price | currency: 'USD' }}</td>
                            <td width="14px">    

                                <!--Update or delete a movie from the dashboard-->
                        <a href="#" [routerLink]="['/admin-update-movie/', movie.id]" class="btn btn-sm" style="background-color:#f85834; color:#ffffff;">Update</a>
                        <button type="submit" (click)="deleteMovie(movie.id)" class="btn btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


