.container {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

#error-message {
    position: relative;
    top: 5em;
    left: 3em;
}

