<div class="container-fluid">
    <app-user-header></app-user-header>
</div>

<div class="container-fluid">
    <h3>Order Summary</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of user">
                <td>{{ u.fname }}</td>
                <td>{{ u.lname }}</td>
                <td>{{ u.email }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Movie Ticket Id</th>
                <th>Name of the Movie</th>
                <th>Showtime</th>
                <th>Showing Location</th>
                <th>Price</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of movies">
                <td>{{ m.id }}</td>
                <td>{{ m.title }}</td>
                <td>{{ m.showtime }}</td>
                <td>{{ m.auditorium }}</td>
                <td>{{ m.ticket_price }}</td>
                <td><button type="button" (click)='deleteTicket(m.id)' class="btn btn-primary">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <p></p>
</div>