<div class="container-fluid">
    <app-user-header></app-user-header>
</div>

<div class="container-fluid col-md-6 offset-md-3">
    <h3>Remove From Cart</h3>
    <form class="remove-movie-ticket-from-cart" [formGroup]="removeFromCart" (ngSubmit)="onSubmit(removeFromCart)">
        <div class="form-row">
            <div class="form-group">
                <label for="movieTicketId">Movie Ticket Id</label>
                <input type="number" class="form-control" name="movieTicketId" id="movieTicketId"
                    formControlName="movieTicketId">
            </div>
        </div>
        <p></p>

        <button type="submit" class="btn btn-success btn-block">Remove From Cart</button>
    </form>
</div>