<footer class="footer">
    <div class="footer-container">
        <div class="site-footer-logo">
            <img src="/assets/images/NMSCinemasLogo.png" alt="NMS Cinemas Logo">
        </div>
        <div class="footer-nav">
            <nav class="site-footer-nav">
                <div class="row">
                    <div class="col-sm-4 site-footer-nav-col-1" id="info-links">
                        <div class="site-footer-nav-col-2" id="login-shop">
                            <ul class="footer-nav-list">
                                <li><a href="#" class="login">Login</a></li>
                                <li> <a href="#" class="shop">Book Tickets</a></li>
                            </ul>
                        </div>
                        <ul class="footer-nav-list">
                            <li><a href="#" class="help">Help</a></li>
                            <li><a href="#" class="contact us">Contact Us</a></li>
                            <li><a href="#" class="about">About</a></li>
                            <p class="address">123 Main St.<br>Boston, Ma. 02108
                            <p>
                        </ul>
                    </div>
                </div>
                <div class="site-footer-nav-col-3" id="copyright">
                    <div class="copyright text-muted"> © 2022 NMS Cinemas | Built by Bryan Gaskins </div>
                </div>
            </nav>
        </div>
    </div>
</footer>