footer {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #0c0b16;
    font-family: 'Roboto Mono', Regular 400, monospace;    
}
ul{
    list-style-type: none;
}
a {
    color: #ffffff;
    text-decoration: none;
} 
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    text-decoration-color: #ffffff; 
}
.site-footer-logo > img {
    width: 90px;
    height: 90px;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 1.5em;
}
#footer-links {
    text-align: left;
    margin-top: .5em;
}                               /*#202e45 #04113a #0c0b16*/
#links {
    text-align: left;
    font-weight: bold;
    margin-top: 1em;
}
#copyright {
    text-align: left;
    margin-left: 2em;
    font-size:12px;
}
.address {
    color: #ffffff;
    margin-top: 1em;
    font-weight:400;
}

#help-links {

    margin-top: 1.5em;
    align-self: right;
}

.social-icons > a {
    margin: 5px;
    font-size: 20px;
}

/*------------Media-----------*/

@media(width < 786px){
    footer {
        display: none;
    }


}