<nav>
    <!-- Logo -->
    <div class="logo">
      <a href="/home">NMS Cinemas<span>®</span></a>
    </div>
      <ul class="nav-list">
        <div class="close" (click)="toggleNavList('close')">
          <fa-icon [icon]="faBars" alt="close"></fa-icon>
        </div>
        <!-- Links to Register, Login, Tickets, Logout -->
        <li class="top-link" (click)="toggleNavList('close')"><a *ngIf="!hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/now-playing"
          class="nav-link">Showtimes</a></li>
        <li class="top-link" (click)="toggleNavList('close')"><a *ngIf="!hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/user-registration"
            class="nav-link">Sign Up</a></li>
        <li class="top-link" (click)="toggleNavList('close')"><a *ngIf="!hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/user-login"
            class="nav-link">Login</a></li>
        <li class="top-link" (click)="toggleNavList('close')"><a *ngIf="hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/user-logout"
            class="nav-link">Logout</a></li>
        
        <div class="cart-status"><app-cart-status></app-cart-status></div>
      
      </ul>

    <div class="open" (click)="toggleNavList('open')">
      <fa-icon [icon]="faBars" alt="close"></fa-icon>
    </div>
  </nav>