<header>
    <nav class="navbar navbar-expand-sm bg-black fixed-top">
        <div class="container-fluid">
        <ul class="navbar-nav navbar-collapse">
            <li> 
                <a class="navbar-brand" id="home-btn" routerLink="/home" class="nav-link">
                <img src="./assets/images/nms-header-logo.png" alt="NMS Cinemas Logo" style="width:65px;"> 
                </a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/user-registration"
                    class="nav-link">Register</a></li>
            <li><a *ngIf="!hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/user-login"
                    class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/now-playing"
                    class="nav-link">Get Tickets</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.IsUserLoggedIn()" routerLink="/user-logout"
                    class="nav-link">Logout</a></li>
                    <app-cart-status></app-cart-status>
        </ul>
        </div>
    </nav>
</header>