<div class="container-fluid">
    <app-user-header></app-user-header>
</div>

<div class="container">
    <label style="font-size: 50px;"> New Releases </label>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="row" style="padding-right: 20px;">
                    <img class="d-block w-100" src="..." style="height: 500px; width: 600px;" />
                    <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"
                        (click)="btnClick();"><i class="fa fa-ticket"></i> Book Now</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row ">
                    <img class="d-block w-100" src="..." style="height: 500px; width: 600px;" />
                    <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"
                        (click)="btnClick();"><i class="fa fa-ticket"></i> Book Now</button>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="container-fluid">
        <app-footer></app-footer>
    </div>