.container-fluid {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

  /* Hero image */

img {
    width: 100%;
    height: auto;
    z-index: 0;
}

  /* Content box on top of hero image */
.hero-box {
    position: relative;
    bottom: 19em;
    left: 2em;
    width: 500px;
    height: 155px;
    text-align: left;
    color: #ffffff;
    opacity: 95%;
    z-index: 1;
    box-sizing: border-box;
    padding: 1em;
}

h6 {
    font-weight: 400;
}

.hero-box > a > .btn {
    background-color: #f85834;
    color: #ffffff;
}

span {
    font-size: 12px;
}


/*--------- Now Playing movie list---------*/

#now-playing-list {
    position:relative;
}

#now-playing-list > p {
    font-size: 25px;
    font-weight: 500;
}

#now-playing-list > p, ul {
    position: relative;
    bottom: 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;

}

#now-playing-list > ul > li {
    font-weight: 300;
    width: 90%;
    margin-bottom: 2em;
    list-style: none;
    text-decoration: none;
}


/*----------Featured movie cards----------*/

.card {
    position: relative;
    bottom: 4em;
    width: 100%;
    height: 100%;
    border: none;
}

.card img {
    align-self: center;
    width: 200px;
    height: 300px;
}


.btn {
    background-color:#000000;
    color: #ffffff;
}


/*----------Reservation section----------*/

.bottom-info {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color:#04113a;
}

/* Right side of row (Image side) */
.bottom-info > .col-30 {
    width: 30%;
}
/* Left side of row*/
.bottom-info > .col-70{
    width: 70%;
    position: relative;
    top: 2em;
    text-align: left;
    box-sizing: border-box;

}

.bottom-info > .col-70 > h1{
    width: 80%;
    color:#ffffff; 
    margin-left: 1.6em;
    margin-bottom: .25em
}

.bottom-info > .col-70 > h3 {
    width: 70%;
    color:#45bec4; 
    margin-left: 1.9em;
    margin-bottom: .5em
}

.bottom-info > .col-70 > h6 {
    margin-left: 3em;
    color:#ffffff;
}


.reserve-button > .btn {
    margin-left: 4em;
    margin-top: 2em;
    background-color: #f85834;
    color: #ffffff;
}


/*------------Text alerts -----------*/
  
 #text-alert {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #144460;
    color: #ffffff;
    box-sizing: border-box;
  }
  

/*----------Media----------*/


@media(width < 1080px) {

    
    /* Now playing list heading*/
    #now-playing-list > p > ul {
        right: 3em;
    
    }
    /* Now playing list movies and showtimes*/
    #now-playing-list > ul > li {
        background-color: #ccdadf;
        width: 100%;
    }

    /*Bottom-info text block*/
    .bottom-info > .col-70{
        width: 70%;
        top: 2em;
        left: 2em;
    }
    /*Bottom-info button*/
    .reserve-button > .btn {
        margin-left: 4em;
        margin-bottom: 6em;

    }
 
    
}

@media(width < 768px) {

    /* Now playing list*/
    #now-playing-list > p {
        font-size: 16px;
    }
    /* Now playing list heading*/
    #now-playing-list > p > ul {
        top: 1em;
        right: 2.5em;
    
    }
    /* Now playing list movies and showtimes*/
    #now-playing-list > ul > li {
        margin: 10px;
      
    }
    /* Movie card*/
    .card {
        top: 2em;
    }

    /*Bottom-info text block*/
    .bottom-info > .col-70{
        width: 80%;
        top: 1.5em;
        left: 1.5em;
    }
    /*Bottom-info button*/
    .reserve-button > .btn {
        text-align:center;
        margin-bottom: 4em;

    }

    .bottom-info > .col-30 {
        display: none;
    }

}

@media(width < 480px) {

     /* Now playing list*/
     #now-playing-list > p {
        font-size: 16px;
    }
    /* Now playing list heading*/
    #now-playing-list > p > ul {
        top: 1em;
        right: 2.5em;
    
    }
    /* Now playing list movies and showtimes*/
    #now-playing-list > ul > li {
        margin: 10px;
      
    }
    /* Movie card*/
    .card {
        top: 2em;
    }

    /*Bottom-info text block*/
    .bottom-info > .col-70{
        width: 100%;
        right: 2em;
    }
    /*Bottom-info button*/
    .reserve-button > .btn {
        text-align:center;
        margin-bottom: 4em;
        margin-right: 2em;

    }


    #now-playing-list {
        display: none;
 }

    .hero, .hero-box {
        display: none;
    }

    

}



