<div class="container-fluid">

    <!-- Header/Hero with sign up button-->
<div class="hero">
        <img src="assets/images/hero-lights.png" alt="Cinema">
    </div>
    <div class="hero-box">
        <h6>NMS MOVIE CLUB EXCLUSIVE</h6>
        <h1>Watch Unlimited Movies with an NMS Cinema Pass</h1>
        <p>Sign up now and get 8 buddy passes.<span>*</span></p>
        <a href="/now-playing">
            <button class="btn">Sign Up</button>
        </a>
</div>

<div class="container" id="now-playing-list">
    <p>Now Playing:</p>
    <ul>
        <li *ngFor="let movie of movies"><fa-icon [icon]="faFilm"></fa-icon>
            {{ movie.title }}<br>{{ movie.showtime }}</li>
    </ul>
</div>
    <!--Movie Features-->

<div class="container-fluid">
        <div class="featured">
            <div class="row p-5">
                <div class="col">
                    <div class="card">
                        <img src="./assets/images/movies/scream6.png" class="card-img-top" alt="Scream">
                        <div class="card-body">
                            <h5 class="card-title text-center">Scream VI</h5>
                            <p>Rated R | 2h 3m</p>
                            <div class="showtime-button">
                                <a href="/now-playing" class="btn">Get Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/images/movies/wonka.png" class="card-img-top" alt="Wonka">
                        <div class="card-body">
                            <h5 class="card-title text-center">Wonka</h5>
                            <p>Rated PG-13 | 2h 22m</p>
                            <div class="showtime-button">
                                <a href="/now-playing" class="btn">Get Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./assets/images/movies/pussnboots.png" class="card-img-top" alt="Puss and Boots">
                        <div class="card-body">
                            <h5 class="card-title text-center">Puss in Boots</h5>
                            <p>Rated PG | 1h 40m</p>
                            <div class="showtime-button">
                                <a href="/now-playing" class="btn">Get Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


          
    
    <!--More Theatre Information (Reservations)-->
    <div class="container-fluid" id="reservation">
        <div class="bottom-info">
            <div class="col-30">
                <img src="./assets/images/moviegoers.png" alt="Movie Goers" style="width: 325px; height: 325px">
            </div>
            <div class="col-70">
                    <h1><strong>Go big with a private screening</strong></h1>  
                    <h3> Watch 2 new releases with snacks <strong>—starting at $200.<span>*</span></strong></h3>
                    <h6> Bring up to 20 guests. </h6>
                    <div class="reserve-button">
                        <a href="/contact-us" class="btn button">Reserve Now</a>
                    </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="text-alert">
        <div class="alert-content">
        <h4>Get Movie Alerts</h4>
        <p>Enter your number and receive new movie alerts, promos, and more.*</p>
            <div class="phone">
                <form class="number">
                    <input class="add-number" type="phone" placeholder="555-555-5555">
                    <button class="btn" type="button">Submit</button>
                </form>
            </div>
    </div>    
</div>

