html, body {
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x:visible; 
}




#now-playing-info {
    background-color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    margin-top: 1em;
}

#now-playing-info, h1 {
        text-align: center;

}

.movie-list {
    background-color: #242E51;
}

.movie-cards {
    font-family:Arial, Helvetica, sans-serif;
    top: 30px;
    text-align:center;
    color:#000000
}

.card {
    border: none;

}

.btn {
    background-color:#000000;
    color: #ffffff;
}

#lower-info {
    margin-bottom: 5em;
    overflow: visible;

}

.reservation-content {
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
    margin-left: 1em;
}

.get-ticket-button {
    margin-top: 1em;
}