@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1 {
    margin-top: 2em;
    text-align: center;
}

.carousel-inner {
    width: 100%;
    max-height: 450px;
}

#featured-movies{
    text-align:center;
}