    <app-user-header></app-user-header>

<body>
<div class="container-fluid mx-auto" id="hero">
    <div class="row">                        
        <div class="col-sm-12">

    <div>
        <img src="assets/images/cinema-hero.png" alt="Cinema">
    </div>
</div>
</div>
</div>

    <!--Carousel of Theatre Info-->


    <!--Movie List-->
    <div class="container-fluid mx-auto" id="now-playing-info">
        <h1><strong>Now Playing</strong></h1>
        <div class="row">  
    <div class="movie-list" style="background-color: lightblue">
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Movie</th>
            <th scope="col">Time</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>The Ruins</td>
            <td>12:00PM</td>
            <td>R</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Scream</td>
            <td>8:00PM</td>
            <td>R</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Halloween</td>
            <td>6:00PM</td>
            <td>R</td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Luck</td>
            <td>9:00PM</td>
            <td>G</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>The Estate</td>
            <td>9:00PM</td>
            <td>R</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Black Adam</td>
            <td>7:30PM</td>
            <td>PG-13</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Amsterdam</td>
            <td>8:00PM</td>
            <td>R</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Bullet Train</td>
            <td>6:00PM</td>
            <td>R</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>


    <!--Movie Features-->
    <div class="container-fluid align-center">
        <div class="row p-5">
            <div class="col-lg-4 mb-3 mx-auto">
                <div class="card h-100" style="width: 16rem;">
                    <img src="./assets/images/movies/scream.png" class="card-img-top" alt="Scream">
                    <div class="card-body h-50">
                        <h5 class="card-title text-center">Scream</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">Rated R | 91m</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mt-6 mx-auto">
                <div class="card h-100" style="width: 16rem;">
                    <img src="./assets/images/movies/black-adam.png" class="card-img-top" alt="Black Adam">
                    <div class="card-body h-50">
                        <h5 class="card-title text-center">Black Adam</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">Rated PG-13 | 2h 5m</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mt-6 mx-auto align-items-stretch">
                <div class="card h-100" style="width: 16rem;">
                    <img src="./assets/images/movies/amsterdam.png" class="card-img-top" alt="Amsterdam">
                    <div class="card-body h-50">
                        <h5 class="card-title text-center">Amsterdam</h5>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">Rated R | 2h 14m</li>
                    </ul>
                </div>
            </div>
            <div class="get-ticket-button text-center">
                <a href="/now-playing" class="btn">Get Tickets</a>
            </div>
        </div>
    </div>
    
    <!--More Theatre Information (Reservations)-->
    <div class="container-fluid p-5 align-center" id="lower-info">
        <div class="row">
            <div class="col-sm-4">
                <img src="./assets/images/moviegoers.png" alt="Movie Goers" style="width:280px; height:280px">
            </div>
            <div class="col-sm-8">
                <div class="reservation-content">
                    <h1 style="color:#7000cb; margin-bottom: .25em"><strong> Reserve your private screening now! </strong></h1>  
                    <h3 style="color:#0054d1; margin-bottom: .5em"> Current release titles available for private screenings <strong>starting at $200.</strong></h3>
                    <h6 style="color:#000000"> Bring up to 20 guests. </h6>
                    <div class="get-ticket-button text-left">
                        <a href="/contact-us" class="btn">Reserve Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <app-footer></app-footer>
