<div class="container-fluid">
</div>

<div class="container-fluid col-md-6 offset-md-3">
    <h3>Add Movie Ticket</h3>
    <form class="add-movie-ticket" [formGroup]="addMovieTicket" (ngSubmit)="onSubmit(addMovieTicket)">
        <div class="form-row">
            <div class="form-group">
                <label for="movieTicketId">Movie Ticket Id</label>
                <input type="number" class="form-control" name="movieTicketId" id="movieTicketId"
                    formControlName="movieTicketId">
            </div>
        </div>
        <p></p>

        <div class="form-row">
            <div class="form-group">
                <label for="title">Name of Movie</label>
                <input type="text" class="form-control" name="title" id="title" formControlName="title">
            </div>
        </div>
        <p></p>

        <div class="form-row">
            <div class="form-group">
                <label for="ticket_price">Ticket Price</label>
                <input type="text" class="form-control" name="ticket_price" id="ticket_price"
                    formControlName="ticket_price">
            </div>
        </div>
        <p></p>

        <div class="form-row">
            <div class="form-group">
                <label for="language">Language</label>
                <input type="text" class="form-control" name="language" id="language" formControlName="language">
            </div>
        </div>
        <p></p>

        <div class="form-row">
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" id="description"
                    formControlName="description">
            </div>
        </div>
        <p></p>

        <div class="form-row">
            <div class="form-group">
                <label for="showtime">Showtime</label>
                <input type="number" class="form-control" name="showtime" id="showtime" formControlName="showtime">
            </div>
        </div>
        <p></p>

        <div class="form-row">
            <div class="form-group">
                <label for="auditorium">Auditorium</label>
                <input type="text" class="form-control" name="auditorium" id="price" formControlName="auditorium">
            </div>
        </div>
        <p></p>

        <div class="form-row">
            <div class="form-group">
                <label for="image">Image Upload</label>
                <input type="image" class="form-control" name="image" id="image" formControlName="image">
            </div>
        </div>
        <p></p>

        <button type="submit" class="btn btn-success btn-block">Add Movie Ticket</button>
    </form>
</div>