<div class="container-fluid">
    <app-user-header></app-user-header>
</div>

<div style="width: 500px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!isUserAdded">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" required [(ngModel)]="user.fname" name="fname" />
            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" required [(ngModel)]="user.lname" name="lname" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="user.password"
                    name="password" />
            </div>
            <button type="button" class="btn btn-danger" (click)="createUser()">Submit</button>
        </div>

        <div *ngIf="isUserAdded">
            <h3>Registration Successful</h3>

        </div>
    </div>
</div>