<div class="container-fluid">
    <app-user-header></app-user-header>
</div>

<!--User registration form-->
<h1>Register New Account</h1>

<div class="container">
    <form>
        <div *ngIf="!isUserAdded">
            <div class="form-outline mb-2 w-25 mx-auto">
                <input type="text" class="form-control" name="fname" [(ngModel)]="user.fname">
                <label class="form-label">First Names</label>
            </div>

            <div class="form-outline mb-2 w-25 mx-auto">
                <input type="text" class="form-control" name="lname" [(ngModel)]="user.lname">
                <label class="form-label">Last Name</label>
            </div>

            <div class="form-outline mb-2 w-25 mx-auto">
                <input type="text" class="form-control" name="email" [(ngModel)]="user.email">
                <label class="form-label">Email Address</label>
            </div>

            <div class="form-outline mb-2 w-25 mx-auto">
                <input type="text" class="form-control" name="password" [(ngModel)]="user.password">
                <label class="form-label">Password</label>
            </div>

        </div>
        <button type="button" class="btn align-center" (click)="createUser()">Submit</button>

        <!--If user is added-->
        <div *ngIf="isUserAdded">
            <h3>Registration Successful</h3>

        </div>
    </form>
</div>

<div class="container-fluid">
    <app-footer></app-footer>
</div>