h1 {
    text-align: center;
    margin-top: 3.5em;
}

.container {
    margin-top: 3em;
    margin-bottom: 5em;
    text-align: center;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

button {
    background: #000000;
    color: #FFFFFF;
    margin-top: .5em;
    margin-left: .5em;
    text-align: center;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}