.img-container {
    width: auto;
    height: auto;
    text-align: center;
}

.navbar {
    list-style-type: none;
    background-color: #000000;
    width: 100vw;
	height: auto;
	left: 0px;
	top: 0px;
}

.navbar a {
    margin-right: 1.5em;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-link:hover {
	color: #59c6f4;
}

#home-btn {
    margin-left: 1.5em;
}