.img-container {
    width: auto;
    height: auto;
    text-align: center;
}

.navbar {
    list-style-type: none;
    background-color: #000000;
    margin: 0;
    margin-top: 3em;
    padding: 0;
}

.navbar a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff
}

.navbar .navbar-nav {
    margin-right: 2em;
}

#home-btn {
    margin-left: 1.5em;
}