<div class="container">
  <!-- search bar -->
  <div class="search-bar">
    <form (ngSubmit)="searchMovies()">
      <input type="text" [(ngModel)]="title" name="title" placeholder="Search movies...">
      <button type="submit">Search</button>
    </form>
  </div>
  
  <!-- search results -->
  <div *ngIf="isSearched">
    <h2>Search Results for "{{title}}":</h2>
    <ul>
      <li *ngFor="let movie of movies">
        <h3>{{movie.title}}</h3>
        <p>{{movie.description}}</p>
      </li>
    </ul>
  </div>
</div>