<!--User login... Username: movies Password: movie123-->
<div class="container">
    <div class="login-box">

    <h1>Login</h1>

    <form>
        <!-- User username input -->
        <div class="form-outline mb-2 w-25 mx-auto">
            <input type="text" class="form-control" name="username" [(ngModel)]="username">
            <label class="form-label">User Name</label>
        </div>

        <!-- User password input -->
        <div class="form-outline mb-2 w-25 mx-auto">
            <input type="password" class="form-control" name="password" [(ngModel)]="password">
            <label class="form-label">Password</label>
        </div>

        <button type="button" (click)="handleLogin()" class="btn">Login</button>
        
        <!-- Registration if user has no login-->
        <div class="text-center mt-3">
            <p>Not a member? <a href="/user-registration">Register</a></p>
        </div>
    </form>
    </div>
</div>