<!--Movies now playing-->
<div class="container">
    <div class="movies">
        <div class="row">
            <!-- This iterates over a list of movies -->
            <div *ngFor="let movie of movies" class="col-4">

                    <!-- Displays movie image-->
                    <img src="{{ movie.image_url }}" class="img-responsive">
                    <h1>{{ movie.title }}</h1>
                    <p>{{ movie.showtime }}</p>
                    <div class="price">{{ movie.ticket_price | currency:'USD' }}</div>
                    <button (click)="addToCart(movie)" class="btn btn-sm align-self-end">Buy Tickets</button>
            </div>
        </div>
    </div>
</div>
 