<!--Movies now playing-->
<div class="container" id="movie-dashboard">
    <h3>Showtimes</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Movie Ticket Id</th>
                <th>Title</th>
                <th>Showtime</th>
                <th>Auditorium</th>
                <th>Ticket Price</th>
                <th width="220px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.showtime }}</td>
                <td>{{ movie.auditorium }}</td>
                <td>{{ movie.ticket_price | currency:'USD' }}</td>
                <td>

                    <!--Ticket added to cart-->
                    <button (click)="addToCart(movie)" class="btn btn-primary btn-sm>">Add to cart</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>